<!-- @if (flag) {
<button type="button" app-button></button>
<button type="button" app-button></button>
}

<app-list> </app-list> -->

<!-- <app-on-push></app-on-push> -->
<!-- <div>
  <div actionGroup>
    <div *ngIf="flag" action [actionName]="'create1'" (actionEvent)="create()">
      create
      <div>
        <button action [actionName]="'update'" (actionEvent)="update()">
          update
        </button>
      </div>
    </div>
  </div>
  <div actionGroup>
    <button action [actionName]="'create2'" (actionEvent)="create()">
      create2
    </button>
  </div>
</div> -->
<div [innerHTML]="normalString"></div>
